{% extends "layout.html" %}

<!-- This block is used to add extra css to the login page -->
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}


{% block content %}
<header>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <title>home</title>
</header>

<!-- intro banner -->
<div style="height: auto;">
    <div class="row">
        <div class="intro-banner">
            <div class="banner-content">
                <img src="{{ url_for('static', filename='home_pics/home_banner.jpg') }}" alt="Home Banner"
                    class="banner-img">
                <div class="welcome">
                    <!-- title -->
                    <h1>Building community at UWA through books</h1>
                    <p>Join in discussion, find a book and interact with other book lovers</p>
                    <!-- Add javascript to link to the forum page -->
                    <button class="start-sharing-btn" onclick="window.location.href='{{ url_for('main.register') }}';">Start Sharing</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="container-for-sections">
            <div class="join">
                <!-- image for discussion image -->
                <img src="{{ url_for('static', filename='home_pics/' +'discussion.jpg') }}" alt="discussion">
                <!-- onclick to new post page -->
                <button onclick="window.location.href='{{ url_for('main.new_post') }}';">Join in Discussion</button>

            
                <p>Making connection and discuss books with other </p>
            </div>

            <!-- find book div -->
            <div class="find">
                <!-- find book image -->
                <img src="{{ url_for('static', filename='home_pics/' +'findbook.jpg') }}" alt="findbook">
                <!-- find book button -->
                <button onclick="window.location.href='{{ url_for('main.shelf') }}';">Find a Book</button>
                <p>Get inspriation and find new books to read from the book shelf</p>
            </div>
            <!-- exchange div -->
            <div class="exchange">
                <!-- exchange image -->
                <img src="{{ url_for('static', filename='home_pics/' +'exchange.jpg') }}" alt="exchange">
                <!-- exchange image -->
                <button onclick="window.location.href='{{ url_for('main.profile') }}';">Customise Profile</button>
                <p>Manage and update your personal profile.</p>
            </div>
        </div>
    </div>

    <!-- books container div -->
    <div class="container-books">
        <div class="title">Our Forum</div>
        <div class="flex-container">
            <!-- first book of romantic -->
            <div class="flex-item" id="flex-card-1">
                <p class="container-books-tit">Romantic</p>
                <p>Romantic fiction focuses on the relationship and romantic love between two people. It often features
                    an emotionally satisfying and optimistic ending.</p>
                <img src="../static/home_pics/romantic1.jpg" class="home-img" alt="Romantic" id="img1">
                <p class="container-books-num"><b>Discussion online</b></p>
                <button onclick="window.location.href='{{ url_for('main.forum') }}';">Join</button>

            </div>
            <!-- first book of horror -->
            <div class="flex-item" id="flex-card-2">
                <p class="container-books-tit">Horror</p>
                <p>Horror fiction aims to evoke fear, dread, and terror in the reader. It often involves supernatural
                    elements, monsters, or psychological horrors.</p>
                <img src="../static/home_pics/horror1.jpg" class="home-img" alt="Horror" id="img2">
                <p class="container-books-num"><b>Discussion online</b></p>
                <button onclick="window.location.href='{{ url_for('main.forum') }}';">Join</button>

            </div>
            <!-- first book of science -->
            <div class="flex-item" id="flex-card-3">
                <p class="container-books-tit">Science</p>
                <p>Science fiction explores imaginative concepts such as futuristic technology, space travel, time
                    travel, parallel universes, and extraterrestrial life.</p>
                <img src="../static/home_pics/science1.jpg" class="home-img" alt="Science" id="img3">
                <p class="container-books-num"><b>Discussion online</b></p>
                <button onclick="window.location.href='{{ url_for('main.forum') }}';">Join</button>

            </div>
            <!-- first book of mystery -->
            <div class="flex-item" id="flex-card-4">
                <p class="container-books-tit">Mystery</p>
                <p>Mystery and thriller novels involve suspenseful and often fast-paced plots that revolve around
                    solving a crime, uncovering secrets, or escaping danger.</p>
                <img src="../static/home_pics/mystery1.jpg" class="home-img" alt="Mystery" id="img4">
                <p class="container-books-num"><b>Discussion online</b></p>
                <button onclick="window.location.href='{{ url_for('main.forum') }}';">Join</button>

            </div>
        </div>
    </div>

    <!-- container for function cards -->
    <div class="book-container">
        <!-- first card of forum -->
        <div class="book-card" id="book-cards-1">
            <p class="container-books-tit">Forum&nbsp;&nbsp;<i class="fa-brands fa-rocketchat"></i></p>
            <p>Share your love for books at the UWA Book Club, post your favourtie books and interacte with your fellow
                book lovers!</p>
            <img src="../static/home_pics/user1.webp" alt="Forum Image" class="forum-img">
        </div>
        <!-- first card of book shelf -->
        <div class="book-card" id="book-cards-2" style="float: right;">
            <p class="container-books-tit">Book Shelf&nbsp;&nbsp;<i class="fa-solid fa-book"></i></p>
            <p>View our book shelf to see which books are available at the UWA Book Club</p>
            <img src="../static/home_pics/user2.webp" alt="Forum Image" class="forum-img">
        </div>
        <!-- first card of follow -->
        <div class="book-card" id="book-cards-3">
            <p class="container-books-tit">Follow&nbsp;&nbsp;<i class="fa-solid fa-heart"></i></p>
            <p>Beside seeing which books are available, you can also like other users' post and follow them!</p>
            <img src="../static/home_pics/user3.webp" alt="Forum Image" class="forum-img">
        </div>
        <!-- first card of profile -->
        <div class="book-card" id="book-cards-4" style="float: right;">
            <p class="container-books-tit">Profile&nbsp;&nbsp;<i class="fa-solid fa-user"></i></p>
            <p>Create your own profile and customise it!</p>
            <img src="../static/home_pics/user4.webp" alt="Forum Image" class="forum-img">
        </div>
    </div>

    <!-- google map container -->
    <div class="map-container">
        <p class="tag-title">Get more books in UWA!</p>
        <div class="map-uwa-container">
            <p>Direction to UWA book club:</p>
            <!-- google map -->
            <iframe class="map-uwa" width="400" height="300" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0isWBkv3Fc34FFSN5ZzH_TnGq8hm2m4g&q=University+of+Western+Australia"
                allowfullscreen>
            </iframe>
        </div>
    </div>

</div>

<script>
</script>

{% endblock content %}