{% extends "layout.html" %}

<!-- This block is used to add extra css to the login page -->
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">

{% endblock %}


{% block content %}

<!-- intro banner -->
<div class="row">
    <div class="intro-banner">
        <div class="banner-content">
            <img src="{{ url_for('static', filename='home_pics/home_banner.jpg') }}" alt="Home Banner" class="banner-img">
            <div class="welcome">
                <h1>Building community through books</h1>
                <p>Join in discussion, find a book, or exchange books with other book lovers</p>
                <button class="start-sharing-btn">Start Sharing</button>
            </div>
        </div>
    </div>
</div>

    
<div class="row">
<div class ="container-for-sections">
    <div class = "join">
        <img src="{{ url_for('static', filename='home_pics/' +'discussion.jpg') }}">
        <button>Join in Discussion</button> 
        <p>Making connection and discuss books with other </p>
    </div>

    <div class = "find">
        <img src="{{ url_for('static', filename='home_pics/' +'findbook.jpg') }}">
        <button>Find a Book</button>
        <p>Get inspriation and find new books to read from recommendations</p>
    </div>

    <div class = "exchange">
        <img src="{{ url_for('static', filename='home_pics/' +'exchange.jpg') }}">
        <button>Exchange Books </button>
        <p>manage your bookshelf and share with others</p>
    </div>
</div>
</div>

{% endblock content %}
