<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Exchange Club</title>
    <!-- Link to FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
    {% block page_specific_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forum.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    {% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">&nbsp;<i class="fa-solid fa-landmark"></i>&nbsp;Book Exchange Club</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('forum') }}" style="color: rgb(179, 49, 49);">Forum</a>
                </li>
                
                <li class="nav-item dropdown" style="z-index: 100;">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Discovery
                        <i class="fas fa-caret-down" style="color: rgb(179, 49, 49)"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="padding: 20px;">
                        <div style="background-color: rgb(179, 49, 49); width: 400px; height: 3px; margin-bottom: 5px;"></div>
                        <a class="dropdown-item" href="{{ url_for('search_books') }}">Search Books</a>
                        <!-- <a class="dropdown-item" href="#">Search Posts</a> -->
                        <form method="POST" action="{{ url_for('search')}}" class="d-flex">
                            {{ form.hidden_tag()}}
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search", name="searched">
                            <button class="btn btn-outline-secondary" type="submit">
                                Search</button>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Book Shelf</a>
            
            </ul>
            
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="btn" href="{{ url_for('new_post') }}">New Post</a>
                </li>
                <li class="nav-item">
                  <a class="btn" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="btn_red" href="{{ url_for('logout') }}">Logout</a>
                </li>           
                {% else %}
                <li class="nav-item">
                  <a class="btn" href="{{ url_for('login') }}">Log In</a>
                </li>
                <li class="nav-item">
                  <a class="btn_red" href="{{ url_for('register') }}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
<br>
<main class="container">
    <!-- <div class="row"> -->
        <div style="width: 100%;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    <!-- </div> -->
    
</main>

<footer class="footer">
  <div class="text-center">
      <span class="text-muted">© 2024 Book Exchange Club</span>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
