{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <div>
        {% if post.image_file != 'default.jpg' %}
        <img class="post-image" src="{{ url_for('static', filename='post_images/' + post.image_file) }}" alt="Post Image">
        {% endif %}
      </div>
      <p class="article-content">{{ post.content }}</p>


      <h4>Comments:</h4>
      {% for comment in comments %}
          <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}">
              <div class="media-body">
                  <div class="article-metadata">
                      <a class="mr-2" href="#">{{ comment.author.username }}</a>
                      <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
                  </div>
                  <p class="article-content">{{ comment.content }}</p>
                  <div>
                    {% if comment.image_file and comment.image_file != 'default.jpg' %}
                        <img class="comment-image" src="{{ url_for('static', filename='comment_pics/' + comment.image_file) }}" alt="Comment Image">
                    {% endif %}
                  </div>
              </div>

              
          </article>
      {% endfor %}
    </div>

    
    <div class="commentbox">
      <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- pictures -->
                <div class="form-group">
                  {{ form.picture.label() }}
                  {{ form.picture(class="form-control-file") }}
                  {% if form.picture.errors %}
                      {% for error in form.picture.errors %}
                          <span class="text-danger">{{ error }}</span></br>
                      {% endfor %}
                  {% endif %}
                </div>

                

            </fieldset>
            <div class="form-group">
                <!-- {{ form.submit(class="btn btn-outline-info") }} -->
                <div class="form-group" style="margin: 10px 0;">
                    {{ form.submit(style="background-color: lightblue; color: black; padding: 8px 16px; border: 1px solid #ccc; border-radius: 4px; cursor: pointer;") }}
                </div>
            </div>
        </form>
    </div>
    </div>

  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
