{% extends "layout.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}

{% block content %}
<main class="container">
    <div class="acc-content-section">
      <div class="media">
        <img class="account-img" src="{{ image_file }}">
        <div class="acc-media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>

          {% if current_user.about_me %}
                    <p>{{ current_user.about_me }}</p>
          {% endif %}

          {% if current_user.last_seen %}
                    <p>Last seen on: {{ current_user.last_seen.strftime('%Y-%m-%d %H:%M') }}</p>
          {% endif %}

        </div>
      </div>
      <br/>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="acc-border-bottom">Profile Info</legend>
                <br/>
                <div class="form-group">
                    <p class="inputtit-update">{{ form.username.label(class="form-control-label") }}</p>
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <p class="inputtit-update">{{ form.email.label(class="form-control-label") }}</p>
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <p class="inputtit-update">{{ form.about_me.label(class="form-control-label") }}</p>
                    {% if form.about_me.errors %}
                        {{ form.about_me(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.about_me.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.about_me(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br/>
                <div class="form-group">
                    <p class="inputtit-update">{{ form.picture.label() }}</p>
                    {{ form.picture(class="form-control-file", id="imageUpload") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn-update") }}
                &nbsp;&nbsp;&nbsp;<button class="btn-update">Back</button>
            </div>
        </form>
    </div>
    <div class="update-rightdiv">
        <p>Preview</p>
        <div class="preview-image-block"><img class="preview-image" id="imagePreview" src="#" style="height: 100%; width: 100%;"/></div>
    </div>
    <button class="btn-ok">
        <i class="fa-solid fa-check"></i>
    </button>
</main>


    <script>
        document.getElementById('imageUpload').addEventListener('change', function(event) {
            var output = document.getElementById('imagePreview');
            output.style.display = 'block';
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src)
            }
        });
    </script>
{% endblock content %}