{% extends "layout.html" %} 

{% block page_specific_css %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

<!-- Main content block for the password reset page -->
{% block content %} 
<div class="login-page">
    <div class="login-form">
        <h2 class="bookclub-member">Forgot Your Password?</h2> 
        <form method="POST" action="#"> <!-- Form for submitting password reset request -->
            {{ form.hidden_tag() }} 
            <fieldset class="form-group">
                {{ form.email.label(class="form-control-label") }} <!-- Label for the email input field -->
                {{ form.email(class="form-control form-control-lg") }} 
                {% if form.email.errors %} <!-- Check for any errors in the email field -->
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span> 
                    {% endfor %}
                </div>
                {% endif %}
            </fieldset>

            <button type="submit" class="btn btn-primary">Reset Password</button> <!-- Button to submit the form -->
            <a class="btn btn-signup" href="{{ url_for('main.register') }}">SIGN UP</a> <!-- Link to the registration page if the user needs to create an account -->
        </form>
    </div>
</div>
{% endblock content %}
