{% extends "layout.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_book.css') }}">
{% endblock %}

{% block content %}
<form action="{{ url_for('search_books') }}" method="post"
    style="background-color: white; margin-top: 30px; height: 150px; width: 90%; margin-left: 5%; border-radius: 20px;">
    <label for="search_by" style="display: inline-block; width: 10%; font-weight: bold; letter-spacing: 1px; margin-left: 10%; margin-top: 10px;">Search by</label>
    <select name="search_by" id="search_by" class="search-select">
        <option value="book_title">Book Title</option>
        <option value="genre">Genre</option>
        <option value="author">Author</option>
        <option value="status">Status</option>
        <option value="isbn">ISBN</option>
    </select>
    <input type="text" name="query" placeholder="Search for books..." class="searchb-input">
    <button type="submit" class="searchb-submit">Search</button>
</form>
{% if results %}
<ul>
    {% for book in results %}
    <li>{{ book.title }} by {{ book.author }} - {{ book.genre }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

