{% extends "layout.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_book.css') }}">
{% endblock %}

{% block content %}
<form action="{{ url_for('search_books') }}" method="post"
    style="background-color: white; margin-top: 30px; height: 150px; width: 90%; margin-left: 5%; border-radius: 20px;">
    <p style="display: inline-block; width: 9%; font-weight: bold; letter-spacing: 1px; margin-left: 28%; margin-top: 50px;">Book Name</p>
    <input type="text" name="query" placeholder="Search for books..." class="searchb-input">
    <input type="hidden" name="search_by" value="book_title" style="display: inline-block;">
    <button type="submit" class="searchb-submit">Search</button>
</form>
{% if results %}
<ul>
    {% for book in results %}
    <li>{{ book.name }} by {{ book.author }} - {{ book.genre }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}