{% extends "layout.html" %}

{% block page_specific_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}
{% block content %}

<!-- Display the search query -->
<div class="centered-text">
    <h2>You searched for: <em>{{ searched }}</em></h2>
</div>

<div class="container">
     <!-- Loop through the posts returned from the search -->
    {% for post in posts %}
    <div class="post-card">
        <!-- Display the post image if it's not the default image -->
        {% if post.image_file != 'default.jpg' %}
        <img class="post-image" src="{{ url_for('static', filename='post_images/' + post.image_file) }}"
            alt="Post Image">
        {% endif %}
          <!-- Display the post title as a link to the post -->
        <h2 class="title"><a href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <!-- Display the post content -->
        <p class="content">{{ post.content }}</p>
        <!-- Display the author information and post date -->
        <div class="post-header">
            <img class="profile-pic" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                alt="Profile Picture">
            <div class="user-info">
                  <!-- Link to the author's profile -->
                <a class="username" href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username
                    }}</a>
                     <!-- Display the date the post was published -->
                <div class="date-posted">{{ post.date_posted.strftime('%Y-%m-%d') }}</div>
            </div>
        </div>
    </div>

    {% else %}
    <!-- Display a message if no posts are found -->
    <div class="centered-text">
        <p>Sorry, your search: <strong>{{ searched }}</strong> was not found.</p>
    </div>
</div>
{% endfor %}
{% endblock content %}