{% extends "layout.html" %}

{% block content %}

    <br/>
    <h2>You searched for: <em>{{ searched }}</em></h2>
    <br/>

    {% if posts %}
    {% for post in posts %}
    
    <section class="forum">
        <div class="container">
            <div class="post-card">
                <div class="post-header">
                    <img class="profile-pic" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="Profile Picture">
                    <div class="post-title">
                        <a class="username" href="#">{{ post.author.username }}</a>
                        <span class="date-posted">{{ post.date_posted.strftime('%Y-%m-%d') }}</span>
                    </div>
                </div>
                <h2 class="title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="content">{{ post.content }}</p>
            </div>    
    {% endfor %}

    {% else %}
    Sorry, your search: <strong>{{ searched }}</strong> was not found.
    {% endif %}

{% endblock %}

