{% extends "layout.html" %}

{% block page_specific_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}

{% block content %}

    <br/>
    <div class="centered-text">
    <h2>You searched for: <em>{{ searched }}</em></h2> <!-- Display the search term -->
    </div>
    <br/>

    <div class="container">
        {% for post in posts %}
        <div class="post-card">
            {% if post.image_file != 'default.jpg' %}
            <img class="post-image" src="{{ url_for('static', filename='post_images/' + post.image_file) }}" alt="Post Image"> <!-- Display the post image if it exists -->
            {% endif %}
            <h2 class="title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2> <!-- Display the post title with a link to the post page -->
            <p class="content">{{ post.content }}</p> <!-- Display the post content -->
            <div class="post-header">
                <img class="profile-pic" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="Profile Picture"> <!-- Display the author's profile picture -->
                <div class="user-info">
                    <a class="username" href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> <!-- Display the author's username with a link to their profile page -->
                    <div class="date-posted">{{ post.date_posted.strftime('%Y-%m-%d') }}</div> <!-- Display the date the post was posted -->
                </div>
            </div>
        </div>

            {% else %}
            <div class="centered-text">
            <p>Sorry, your search: <strong>{{ searched }}</strong> was not found.</p> <!-- Display a message if the search term was not found -->
            </div>
            {% endfor %}
    {% endblock content %}



