/* book result search container */
.search-results-page {
    height: 800px;
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* title */
.search-results-page h1 {
    margin-bottom: 20px;
    text-align: center;
}

/* container for cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto;
}

/* cards */
.book-card {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: #555;
    box-shadow: 0 4px 8px rgba(232, 6, 6, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* cards hover */
.book-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* book title */
.book-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

/* book text */
.book-info p {
    font-size: 1em;
    margin: 5px 0;
    color: #555;
}

/* strong change text color */
.book-info strong {
    color: #333;
}

