/* body */
html, body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* create page layout */
.create-page {
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    background: url('creatpostbg_images/bg3.jpg') no-repeat center center fixed;
    background-size: cover; /* Ensures it covers the full area */
    min-height: 100vh; /* This ensures the minimum height of the element is the full viewport height */
    width: 100vw; /* This ensures the width is the full viewport width */
}

/* content container */
.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%; /* Maintain the width or adjust as needed */
    margin: auto; /* Center the box horizontally */
    background-color: rgba(251, 251, 246, 0.7); 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Adds a blur effect to the background */
}

/* forms */
.form-group-create {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Centers the elements horizontally */
    width: 100%; /* Ensure it takes full width */
    margin-top: 10px;
}

/* forms button */
.btn-custom {
    background-color: #cd4024; /* Sets the background color */
    border-color: #d4d4d4; /* Sets the border color to match the background */
    color: #ffffff; /* Optional: changes the text color to white for better contrast */
    padding: 20px 40px;
    font-size: 24px; 
    text-align: center; 
    line-height: 0.0; 
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* buttons hover */
.btn-custom:hover {
    background-color: #e62626; /* Darkened manually by 10% */
    border-color: #bebebe; /* Darkened manually by 10% */
}

/* fit the screen size */
@media (max-width: 992px) {
    .content-section {
        width: 50%; /* Wider on smaller desktops and tablets */
    }
}

/* fit the screen size */
@media (max-width: 768px) {
    .content-section {
        width: 70%; /* Takes more space on small tablets */
    }
}

/* fit the screen size */
@media (max-width: 576px) {
    .content-section {
        width: 85%; /* Full width on mobile devices */
        padding: 10px; /* Less padding on smaller screens */
    }

    .btn-custom {
        padding: 10px 20px; /* Smaller button on mobile */
        font-size: 18px; /* Smaller font size on mobile */
    }
}
