html, body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.create-page {
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    background: url('creatpostbg_images/bg3.jpg') no-repeat center center fixed;
    background-size: cover; /* Ensures it covers the full area */
    min-height: 84vh; /* This ensures the minimum height of the element is the full viewport height */
    width: 100vw; /* This ensures the width is the full viewport width */
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh; /* Adjust height as needed */
    width: 30%; /* Maintain the width or adjust as needed */
    margin: auto; /* Center the box horizontally */
    background-color: rgba(251, 251, 246, 0.7); 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Adds a blur effect to the background */
}

.btn-custom {
    background-color: #86eae3; /* Sets the background color */
    border-color: #d4d4d4; /* Sets the border color to match the background */
    color: #ffffff; /* Optional: changes the text color to white for better contrast */
    padding: 20px 40px;
    font-size: 24px; 
    text-align: center; 
    line-height: 0.0; 
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-custom:hover {
    background-color: darken(#86eae3, 10%); /* Optional: Darkens the button on hover for visual feedback */
    border-color: darken(#d4d4d4, 10%); /* Matches the border color with the background on hover */
}