.acc-content-section {
    margin: 0 auto; 
    align-items: center;
    width: 35%;
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 30px;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.account-img{
    border-radius: 30px;
    width: 35%;
    max-width: 350px;
}
.acc-media-body{
    margin-left: 60px;
}
.acc-border-bottom{
    letter-spacing: 1px;
}
.inputtit-update{
    margin-top: -20px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}
.form-control{
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
}
.btn-update{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    background-color: rgb(211, 55, 55);
    width: 160px;
    height: 50px;
    border-radius: 20px;
    outline: none;
}
.btn-update:hover{
    background-color: rgb(107, 31, 31);
    color: white;
    text-decoration: none;
}
.update-rightdiv{
    width: 80%;
    background-color: #f9f0ed;
    height: 300px;
    text-align: center;
    border-radius: 30px;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 10px;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}
.preview-image-block{
    margin: 0 auto;
    width: 80%;
    height: 70%;
    background-color: rgba(161, 159, 159, 0.5);
    border-radius: 25px;
    margin-top: 20px;
}
.preview-image{
    border-radius: 25px;
}

.profile-title {
    font-weight: 500;
    margin-bottom: -20px;
}

.form-group-profile {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items to the start of the flex container */
    margin-bottom: 30px; /* Adjust as necessary */
    width: 70%;
}

#imagePreview {
    height: 100%; 
    width: 100%;
}
