.shelf-tit{
    height: 120px;
    width: 150%;
    margin-left: -25%;
    background-color: white;
    color: rgb(211, 55, 55);
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.shelf-tit p{
    line-height: 120px;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: bold;
}
.shelf-container{
    margin-left: 15%;
    width: 70%;
    height: auto;
    border-radius: 30px;
    padding: 30px;
    /* overflow-y: auto; */
}
.col-cub{
    height: 350px;
    padding: 15px;
    margin-bottom: 100px;
    
}
.shelf-book{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    text-align: center;
    background-color:white;
}
.col-content{
    font-size: 15px;
    font-weight: bold;
}
.shelf-img{
    width: 100%; 
    height: 90%; 
    border-radius: 25px; 
    z-index: 1;
}
.shelf-img:hover{
    border: 3px solid transparent;
    box-shadow: 0 0 5px 3px #f8edd8;
    filter: blur(2px);
}
.modal-body{

}
.shelf-searchbox{
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 30%;
    margin-top: 20px;
}
.shelf-selector{
    display: inline-block;
    width: 20%;
    margin-left: calc(50% - 320px);
    border-radius: 20px;
    padding: 5px;
}
.shelf-searcher{
    display: inline-block;
    width: 20%;
    margin-left: 20px;
    border-radius: 20px;
}
.shelf-btn{
    display: inline-block;
    width: 20%;
    margin-left: 20px;
    background-color: rgb(211, 55, 55);
    border-radius: 20px;
    color: white;
    border: hidden;
    letter-spacing: 2px;
    font-size: 18px;
}
.shelf-btn:hover{
    background-color: rgb(107, 31, 31);
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-borrow{
    width: 60%;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    border: hidden;
    background-color: green;
    color: white;
}
.btn-borrow:hover{
    background-color: rgb(1, 75, 1);
    font-weight: bold;
}
.txt-unava{
    line-height: 50px;
    margin-left: 20%;
    width: 60%;
    height: 50px;
    border-radius: 20px;
    border: hidden;
    background-color: gray;
    color: white;
}
.book-name{
    display: inline-block; 
    width: 10%; 
    font-weight: bold;
}
.btn-book{
    width: 100%; 
    height: 100%; 
    background-color: rgba(255, 255, 255, 0); 
    border: hidden;
}